<div ng-controller="CategoryController" ng-init="loadDefault()">
	<h1>Categories <a class="btn btn-default" ui-sref="admin.category({categoryId: 0})">+</a></h1>

	<form name="categoryForm" ng-submit="categoryForm.$valid && saveCategory(category)">
		<div class="form-group">
			<label for="Name">Name</label>
			<input type="text" class="form-control" id="Name" placeholder="Name" ng-model="category.Name" />
		</div>
		
		<div class="form-group">
			<label for="Slug">Slug</label>
			<input type="text" class="form-control" id="Slug" placeholder="Slug" ng-model="category.Slug" />
		</div>
		
		<div class="form-group">
			<label for="Description">Description</label>
			<textarea class="form-control" id="Description" ng-model="category.Description"></textarea>
		</div>
		
		<div class="form-group">
			<label for="Class">Class</label>
			<input type="text" class="form-control" id="Class" placeholder="Class" ng-model="category.Class" />
		</div>
		
		<div class="form-group">
			<label for="Parent">Parent</label>
			<select class="form-control" id="Parent" ng-model="category.Parent" ng-options="c.Name for c in categories track by c.Name">
				<option></option>
			</select>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="category.Active" /> Active
			</label>
		</div>
		
		<button type="submit" class="btn btn-default">Submit</button>
		
		<p>&nbsp;</p>
		
		<div class="alert alert-danger" role="alert" ng-show="error.Status">{{error.Message}}</div>
		<div class="alert alert-success" role="alert" ng-show="success.Status">{{success.Message}}</div>
	</form>
</div>