<div ng-controller="StoreController" ng-init="loadDefault()">
	<h1>Stores <a class="btn btn-default" ui-sref="admin.store({storeId: 0})">+</a></h1>

	<form name="storeForm" ng-submit="storeForm.$valid && saveStore(store)">
		<div class="form-group">
			<label for="Name">Name</label>
			<input type="text" class="form-control" id="Name" placeholder="Name" ng-model="store.Name" />
		</div>
		
		<div class="form-group" ng-show="store.Name.length > 0">
			<label>Link:</label>
			<p>http://beta.offerpal.in/#/store/<strong>{{store.Slug}}</strong></p>
		</div>
		
		<div class="form-group" ng-hide="true">
			<label for="Slug">Slug</label>
			<input type="text" class="form-control" id="Slug" placeholder="Slug" ng-model="store.Slug" />
		</div>
		
		<div class="form-group">
			<label for="Description">Description</label>
			<div text-angular ng-model="store.Description"></div>
			<!--<textarea class="form-control" id="Description" ng-model="store.Description"></textarea>-->
		</div>
		
		<div class="form-group">
			<label for="Slogan">Slogan</label>
			<input type="text" class="form-control" id="Slogan" placeholder="Slogan" ng-model="store.Slogan" />
		</div>
		
		<div class="form-group">
			<label for="Url">Url</label>
			<input type="text" class="form-control" id="Url" placeholder="Url" ng-model="store.Url" />
		</div>
		
		<div class="form-group">
			<label for="Logo">Logo</label><br />
			<input type="file" ngf-select ng-model="Image" name="file" ngf-accept="'image/*'" ng-show="imageUpload" />
			<span class="picture-actions" ng-hide="imageUpload">
				<img ngf-src="Image" class="thumb" />
				<button type="button" class="btn btn-danger remove-picture" ng-click="removePicture()" ng-show="Image">X</button>
			</span>
		</div>
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
					<label for="AffiliateKey">Affiliate Key</label>
					<input type="text" class="form-control" id="AffiliateKey" placeholder="Affiliate Key" ng-model="store.AffiliateKey" />
				</div>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
					<label for="AffiliateValue">Affiliate Value</label>
					<input type="text" class="form-control" id="AffiliateValue" placeholder="Affiliate Value" ng-model="store.AffiliateValue" />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
					<label for="ReferenceKey">Reference Key</label>
					<input type="text" class="form-control" id="ReferenceKey" placeholder="Reference Key" ng-model="store.ReferenceKey" />
				</div>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
					<label for="RedirectKey">Redirect Key</label>
					<input type="text" class="form-control" id="RedirectKey" placeholder="Redirect Key" ng-model="store.RedirectKey" />
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="Type">Type</label>
			<select class="form-control" id="Type" placeholder="Type" ng-model="store.Type" ng-options="st.Name for st in storeTypes track by st.Name"></select>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="store.Featured" /> Featured
			</label>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="store.Active" /> Active
			</label>
		</div>
		
		<button type="submit" class="btn btn-default">Submit</button>
		
		<p>&nbsp;</p>
		
		<div class="alert alert-danger" role="alert" ng-show="error.Status">{{error.Message}}</div>
		<div class="alert alert-success" role="alert" ng-show="success.Status">{{success.Message}}</div>
	</form>
</div>