<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div class="list-group">
			<a ui-sref-active-eq="active" ui-sref="admin" class="list-group-item">Dashboard</a>
			<a ui-sref-active-eq="active" ui-sref=".categories" class="list-group-item">Categories</a>
			<a ui-sref-active-eq="active" ui-sref=".stores" class="list-group-item">Stores</a>
			<a ui-sref-active-eq="active" ui-sref=".offers" class="list-group-item">Offers</a>
			<a ui-sref-active-eq="active" ui-sref=".users" class="list-group-item">Users</a>
			<a ui-sref-active-eq="active" ui-sref=".activities" class="list-group-item">Activities</a>
		</div>
	</div>
	
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
		<div ui-view></div>
	</div>
</div>