<div ng-controller="UserController" ng-init="loadFrontDefault()">
	<h1>Change Password</h1>
	
	<div class="alert alert-danger" role="alert" ng-show="error.Status">{{error.Message}}</div>
	<div class="alert alert-success" role="alert" ng-show="success.Status"><p ng-bind-html="renderHtml(success.Message)"></p></div>
	  
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="forgotpassword">
			    <form name="resetForm" class="form-container" ng-submit="resetForm.$valid && changePasswordAuth(reset)" ng-hide="success.Status">
			        <div class="form-group">
			            <label for="password">Password<span class="red">*</span>:</label>
			            <input type="password" class="form-control" id="password" ng-model="reset.Password" ng-required="true" />
			        </div>
			
			        <div class="form-group">
			            <label for="ConfirmPassword">Confirm Password<span class="red">*</span>:</label>
			            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" ng-model="reset.ConfirmPassword" ng-required="true" data-match="reset.Password" />
			        </div>
			        
			        <div class="alert alert-warning" role="alert" ng-show="resetForm.ConfirmPassword.$error.match">Password &amp; Confirm Password doesn't match.</div>
        			<div class="alert alert-warning" role="alert" ng-show="resetForm.ConfirmPassword.$error.pwd">Please use a strong password.</div>
			
			        <input type="submit" class="btn btn-primary" value="Request Password" />
			    </form>
			</div>
			
			<p>&nbsp;</p>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<p>&nbsp;</p>
		</div>
	</div>
	
	<p>&nbsp;</p>
</div>