<div ng-controller="UserController" ng-init="loadFrontDefault()">
	<h1>Forgot Password</h1>
	
	<div class="alert alert-danger" role="alert" ng-show="error.Status">{{error.Message}}</div>
	<div class="alert alert-success" role="alert" ng-show="success.Status"><p ng-bind-html="renderHtml(success.Message)"></p></div>
	  
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="forgotpassword">
			    <form name="forgotPasswordForm" class="form-container" ng-submit="forgotPasswordForm.$valid && forgotPassword(forgotpassword)" ng-hide="success.Status">
			        <div class="form-group">
			            <label for="email">Email<span class="red">*</span>:</label>
			            <input type="email" class="form-control" id="email" ng-model="forgotpassword.Email" ng-required="true" />
			        </div>
			
			        <input type="submit" class="btn btn-primary" value="Request Password" />
			    </form>
			</div>
			
			<p>&nbsp;</p>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<p>&nbsp;</p>
		</div>
	</div>
	
	<p>&nbsp;</p>
</div>