<div ng-controller="OfferController" ng-init="loadFrontDefault()">
	<div class="breadcrumb"><a ui-sref="welcome">Home</a> > Offers</div>
	
	<h1>Offers</h1>
	
	<div class="row offers" angular-grid="offers" grid-width="180" gutter-size="5" angular-grid-id="gallery" refresh-on-img-load="true">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" ng-repeat="offer in offers">
			<div class="product">
				<product></product>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
	
	<p>&nbsp;</p>
	
	<div class="text-center" ng-show="offers.length !== 0">
		<a class="btn btn-default" href="javascript:void(0);" ng-click="fetchNextOffers()" ng-show="showMore">Load More</a>
	</div>
	
	<p>&nbsp;</p>
</div>