<div>
	<h1>Redeem<sup>**</sup></h1>
	
	<p>Redeem your rewards points using any of the following methods.</p>
	
	<div class="row redeem">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a ui-sref-active-eq="active" href="javascript:void(0);" class="thumbnail">
				<div class="caption processing">Processing Fees &#8377;10.00</div>
				<img src="images/paytm.png" alt="Paytm Request" />
				<div class="caption">PayTM Wallet</div>
			</a>
		</div>
		
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a ui-sref-active-eq="active" href="javascript:void(0);" class="thumbnail">
				<div class="caption processing">No Processing Fees</div>
				<img src="images/giftcards.png" alt="Paytm Request" />
				<div class="caption">Gift Cards</div>
			</a>
		</div>
		
		<!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a ui-sref-active-eq="active" href="javascript:void(0);" class="thumbnail">
				<div class="caption processing">Processing Fees &#8377;50.00</div>
				<img src="images/bank-transfer.png" alt="Paytm Request" />
				<div class="caption">Bank Transfer</div>
			</a>
		</div>-->
	</div>
	
	<div class="alert alert-info">
		<p><strong>Please Note:</strong><br />Rewards can only be redeemed via PayTM &amp; Gift Cards, and cannot be redeemed by Bank Transfer. Cashback statistics are not updated in realtime. There might be some delay in showing updated balance.</p>
		
		<p>&nbsp;</p>
		
		<p><em><sup>**</sup> Normal processing time for any request is 24-48 hours.</em></p>
	</div>
</div>