<div>
<h1>Terms &amp; Conditions</h1>
<p>This is a legal document which dictates all the terms and conditions which are subject to the use of Offerpal.in.</p>
<p>Offerpal.in which is referred to as "Offerpal", "we" or "us" in the following document. By registering as a user on Offerpal.in, you are accepting our terms of service. Therefore, you must read and understand this document before using our services. This document may be subject to change in the future at our sole discretion as stated in clause 13 below.</p>
<h3>1. Our Service</h3>
<p>Offerpal.in enables its registered users to avail Cashback or a cash reward on their purchases from retailers listed on the website. Offerpal.in also provides discount codes and coupons of various online retailers.</p>
<p>You can also refer to our help pages and other documentation on Offerpal.in incase you seek more information or have any queries regarding our services.</p>
<h3>2. Obtaining an Account</h3>
<p>Offerpal.in is intended to be used by Indian customers and only provide cash rewards or Cashback in Indian National Rupee (INR). One must be an Indian Resident and at least 18 years of age to register for a Offerpal Account. Only one account is allowed per person.</p>
<p>Change of Name &amp; Email on your Offerpal account is not permitted due to security concerns. Therefore,you must provide only genuine, accurate and current information while registering for an account with Offerpal.in.This information includes your name, email address and other relevant details. You are also liable to keep this information updated in case of any change. As your email address is critical for a seamless communication between you and Offerpal, you must ensure that you have full access to the email address you provide us.</p>
<h3>3. Termination of Account</h3>
<p>Offerpal.in reserves the right to terminate any account incase any fraudulent, abusive or unfair activity is obeserved from that account. In addition, accounts that are deemed to be "inactive" as per clause 14 may also be terminated.</p>
<p>Offerpal account can only be used for personal, non-commercial use, any accounts being used for commercial activity will beterminated. Any pending or confirmed cashback in such terminated accounts shall be forfeited and the decision will be irrevocable and binding.</p>
<p>In case user does not provides us with a valid or serviceable email address, his/her membership will also be terminated.</p>
<p>We also reserve the right to refuse or deny membership to any individual.</p>
<h3>4. Cashback</h3>
<p>As a Offerpal member you can avail Cashback or a cash reward for making a purchase from various retailers listed on Offerpal.in. However, Offerpal can only provide cashback on genuine transactions which are successfully tracked and verified by the retailers. Once your transaction is successfully tracked and verified by the retailer, we get a commission form the retailer and we pass on this commision in the form of cashback onto you.</p>
<p>Please take into account that under certain conditions, your transaction may not get tracked or qualify for a cashback. Under any circumstances, we cannot be held responsible for the same. Retailers deem a transaction to be genuine or valid through their own set of rules. A transaction deemed as non-genuine or invalid by the retailer would not qualify for a cashback. For more information regarding these conditions, please refer to our FAQs pages.</p>
<p>Offerpal would always make the best efforts on its part to recover non payments and missing cashback from the retailers. In case, you made a genuine transaction and did not receive a cashback, you can make a claim by contacting our support. However, we reserve the right to stop chasing your cashback claim at any point and our decision will be final in this regard.</p>
<p>At times you may receive a lower amount in cashback than what you were expecting. This happens when retailer gives us an amount less than his original claim. In this case, you may raise a query and we would take it up with the retailer. Though, we reserve the right to close this enquiry claim if the retailer still does not pays in a period of six months.</p>
<p>Cashback may also be forfeited by Offerpal under the following circumstances :<br>
a. In case the user is not logged in while transacting through Offerpal and we receive an unattributed cashback payment which is not associated with any user account.<br>
b. In case the cashback is attributed to an account which is terminated by Offerpal under Clause 3 or 10.</p>
<h3>5. Referrals</h3>
<p>Offerpal currently pays a bonus Rs.50 for each of your referral. This referral bonus is subject to change at any point of time as per the discretion of Offerpal. However, to get the referral bonus, the referred member must satisfy certain conditions and requirements:<br>
- Only genuine and unique referrals will be paid. - Referred member must accumulate cashback amount of atleast Rs.99 in his account.<br>
- The referrer must have at least Rs.100 in his Offerpal account to earn the referral amount.</p>
<p>Multiple accounts or signups by the same user or any fraudulent signups will result in permanent termination of the accounts.</p>
<h3>6. Payments</h3>
<p>Offerpal offers four modes through which users can request for their payments :<br>
- Mobile/DTH Recharge<br>
- Shopping Vouchers<br>
- Paytm Wallet<br>
- MobiKwik Wallet<br>
Users can make a payment request as per their convenience once they have met a certain criteria.</p>
<p>For their first payout request, user must aggregate a minimum of Rs.250 in his/her Offerpal account, out of which Rs.99 must be from his/her cashback earnings. A nominal processing fee of Rs.99 for every Rs. 1000/- cashback redeemed is also charged which is automatically deducted from your first payout. For subsequent payment requests, users can request for a payout once they have aggregated:<br>
- Rs.50 for Mobile/DTH Recharge<br>
- Rs. 100 for e-vouchers<br>
- Rs. 50 for Paytm Wallet<br>
- Rs. 50 for MobiKwik Wallet</p>
<p>User must ensure to provide correct and updated payment details. Offerpal will not be responsible for payments made to incorrect destinations. Offerpal can also be not held liable for any delay in payments.</p>
<p>In case any unusual or fraudulent activity is detected from any account, we reserve the right to place on hold all payment requests from that account indefinitely until further investigation.</p>
<h3>7. Privacy Policy</h3>
<p>Our Privacy Policy dictates what information we may collect about you, how we may use it, the choices you have concerning its use and whether we share it with any third party. This Privacy Policy forms a part of this document, and by agreeing to the same you also give us the consent to handle your information as per the terms of the policy.</p>
<h3>8. Intellectual Property &amp; Copyright</h3>
<p>Offerpal.in is protected by a copyright. Offerpal Netventures Private Limited solely holds all copyrights, trademarks and intellectual property rights pertaining to Offerpal.in and its services. No one may copy, reproduce or distribute any part of this site with or without modification or any data contained within the site without our prior consent. No one may commercially exploit the identity, logo or services of Offerpal.in.</p>
<p>By uploading any kind of material on Offerpal, you also grant us a non exclusive right to use, reproduce or distribute that material.</p>
<h3>9. Our Role</h3>
<p>Please note that all transactions you make are with individual retailers, not with Offerpal.in. Offerpal is not involved in any way in the transactions you make on any of the retailer's website listed on Offerpal. Offerpal.in merely redirects you to the retailer's website and thus is free from any liability or legal obligations that may be applicable to the sellers of those goods and services.</p>
<p>We are also free from any control or responsibility of :<br>
- Quality, safety or legality of the goods and services offered by retailers listed on Offerpal.<br>
- Whether the retailers can or will supply the goods and services they are offering.</p>
<h3>10. Unauthorized Use of our Website</h3>
<p>Offerpal reserves the right to terminate any user account and forfeit the earnings of the same, if it is found to be in violation with any of our Terms of Service.</p>
<p>Users must not make or attempt to make any transaction with a retailer or to gain cashback by providing incorrect or false information. Users must also refrain themselves from fraudulently or unfairly exploiting retailer's offers.</p>
<p>In the event of tampering with the website including modification of URLs, distributing unauthorised URLs, email cloaking, running automated scripts or pages being spidered will also result in permanent suspension/termination of the account.</p>
<p>Offerpal members are also under the obligation that any material posted by him/her may not :<br>
- Be defamatory, offensive, abusive, obscene, indecent or of malicious nature.<br>
- Contain any computer virus, macro virus, Trojan horse, worm, or anything else designed to interfere with, interrupt, or disrupt the normal operating procedures of a computer or to surreptitiously intercept, access without authority, or expropriate any system, data or personal information.<br>
- Violate any applicable law or regulation.<br>
- Breach the rights of any person or entity.<br>
- Advertise any goods or services.</p>
<p>We would like you to report to us, incase you see anything on Offerpal.in that violates the above mentioned criterion. Each user also acknowledges that Offerpal is entitled but is not obliged to remove any such material that is violation with above mentioned criterion.</p>
<h3>11. Liability</h3>
<p>We are liable for providing the services of Offerpal.in with ample care, skill and with the best intentions for our users.</p>
<p>Offerpal will only be liable as explicitly stated in this document, but will be free from any other liability, duty or obligation whatsoever in contract, tort or otherwise.</p>
<p>Offerpal shall also not have the liability to you or any other entity/person in respect of material material provided by users, transactions (or non-transactions) with retailers, or any activity or communication relating to such material or transactions.</p>
<p>Users are solely liable for maintaining the confidentiality of their password and Offerpal cannot be held responsible for any password theft or any consequences arising from the same.</p>
<h3>12. Indemnification</h3>
<p>You agree to indemnify Offerpal Netventures Private Limited against all liability, loss, claim, demand, damage or expense that may occur:</p>
<p>- In relation to the use of Offerpal.in<br>
- Any violation of the terms and conditions listed in this document<br>
- Any transaction with any retailer listed on Offerpal</p>
<p>Though, we take the utmost care and the most stringent measures to ensure that the information present on Offerpal.in is accurate and up to date, we do not take any liability for any error or omission or any loss arising from the same.</p>
<h3>13. Modification of Terms</h3>
<p>We solely reserve the right to modify the terms and conditions listed in this document and post a new one, at any point of time at our sole discretion. Users will thoroughly be notified of any modifications and the new Terms of Service will come into effect no later than 30 days.</p>
<h3>14. Inactive Accounts</h3>
<p>We reserve the right to terminate any inactive accounts. "Inactive" Accounts are those accounts which do not show any activity for a period of 12 months. To avoid your account be marked as inactive simply log in to your account once every 12 months.</p>
<h3>15. Miscellaneous</h3>
<p>In the event of our failure to act upon any breach of any provision of this Agreement will not constitute a waiver of our right to subsequently enforce such provision or any other provision of this Agreement.</p>
<p>In case any part of this agreement is held to be invalid, the remainder of this agreement shall remain to be valid and enforceable.</p>
<h3>16. Linking To and From Offerpal.in</h3>
<p>Offerpal welcomes other websites to link to it, however it does not allows its pages to be loaded in frames on other sites. We also do not allow links from websites which may have offensive, obscene or distasteful content.</p>
<p>In order to render our various services, Offerpal links to various other websites. Offerpal is not in control of the content on these websites and is free from any responsibility of the same. By linking to any of the websites, we are not making any kind of endorsement and affiliation with them strictly in terms of content.</p>
<p>If you find any link on Offerpal that can be construed as offensive or is not working, we would like you to report the same to us through our contact page.</p>
<h3>17. Operation of our Service</h3>
<p>We reserve the right to terminate, modify or suspend any aspect of our services or the entirety of it, at our sole discretion at any point of time. At times, the service of Offerpal may not be available to you due to technical or any other difficulties. However, we do our best to ensure an uninterrupted access to our services, we do not guarantee the same.</p>
<p>We will also endeavour to minimize any planned periods of unavailability of our services and notify you about the same.</p>
<h3>18. Virus Disclaimer</h3>
<p>We make our best efforts to rigorously scrutinize all the content posted on Offerpal.in. However, we cannot be held responsible for any kind of loss or damage to the data on your computer occurring while using Offerpal.in.</p>
<h3>19. Law</h3>
<p>All the provisions of this document and our relationship with each user of Offerpal, is governed by the laws of India.</p>
<p>Any dispute arising in relation to this agreement would be exclusively subjected under the jurisdiction of Ahmedabad court.</p>
<h3>20. Keeping this Agreement</h3>
<p>Offerpal will not file an Individual agreement for each and every user who registers on Offerpal.in. You can access this agreement for our website. It is recommended that you keep a copy of this agreement by printing or downloading it on on your personal computer.</p>
<h3>21. Contact Details</h3>
<p>For any queries regarding our terms and conditions you may contact us through our Contact Us page. Please note that all communications under this Agreement are to be sent and received only by email. For this purpose, your notices should be sent via our contact form , and we will send you our notices at the email address you provide us when you register for an account on Offerpal.in.</p>
</div>
